<!DOCTYPE html>
<html>
<head>
  <title>Consultorio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'lightbox' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div >
    <table style="width:100%; " class= "navbar" >
      <tr>
        <%  if session[:logged] %>
        <td>
          <div  style="text-align: left" class= "navbar" >
            <%= link_to 'Cadastrar Paciente', new_paciente_path %>
            <%= link_to 'Nova Consulta', new_consulta_path %>
            <%= link_to 'Consulta de Retorno', retorno_consulta_path(-1) %>
            <%= link_to "Logout", session_path(1), :method => :delete %>
          </div>
        </td>
        <td>
            <div style="text-align: right" class= "navbar" >
            <%= form_tag search_buscas_path, :method => "get" do %>

              <%= label_tag :busca, "Busca" %>
              <%=h text_field_tag :busca %>
              <%= submit_tag "Pesquisar"%>
            <% end %>
            </div>
          <td>
        <% end %>
      </tr>
    </table>
  </div>

<%= yield %>

</body>
</html>
